<div class="container-fluid">

  <div class="row">

    <div class="col-1">
      <a [routerLink]="['/dashboard']"><app-logo [white]="false" [logoHeight]="75" [logoWidth]="75"></app-logo></a>
    </div>

    <div class="col-6">

      <div class="row">
        <mat-form-field class="w-100 mt-2">
          <mat-label>
            <mat-icon>search</mat-icon>&nbsp;I'm interested in...
          </mat-label>
          <input type="search" matInput title="search" >
        </mat-form-field>
      </div>
    </div>


    <div class="col-4  offset-1">

      <div class="row justify-content-between mt-2">
        <button (click)="becomeEmployer()" mat-flat-button>Become an {{userType}}</button>
        <span>
          <a [routerLink]="['/profile/'+myid]"><button mat-icon-button><mat-icon>account_circle</mat-icon></button></a>
          <button (click)="logout()" mat-icon-button><mat-icon>exit_to_app</mat-icon></button>
        </span>
      </div>
    </div>

  </div>
</div>
